<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.demo.dao.TbClassMapper">
  <resultMap id="BaseResultMap" type="com.ex.demo.model.TbClass">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="class_package" jdbcType="VARCHAR" property="classPackage" />
    <result column="class_file" jdbcType="LONGVARBINARY" property="classFile" />
  </resultMap>
</mapper>